*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainColor: #FB2E86;
    --subColor: #151875;
    --mainFont:"Josefin Sans";
    --subFont: "Lato";
}
a{
    text-decoration: none;
}

.container{
    width: calc(100% - 200px);
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.active{
    color: var(--mainColor) !important;
}
.border-0{
    border: 0;
}